@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 font-serif;
    font-family: 'Lora', serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold tracking-tight;
    font-family: 'Inter', sans-serif;
  }
}

.font-sans {
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Lora', serif;
}
